.products {

  .productCard {
    padding: 2%;
    flex: 0 16%;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: 10px 5px;
    border-bottom: 1px solid #dadada;

    .productImage {
      max-width: 150px;
      cursor: pointer;

      img {
        max-width: 100%;
      }
    }

    .productInfo {

      h3 {
        font-size: 20px;
        margin-bottom: 5px;
      }

      font-size: 15px;
      text-align: center;
      margin: 10px 0;
    }

      button {
        cursor: pointer;
        width: 175px;
        text-align: center;
        font-size: 12px;
        color: #fff;
        background: #E83587;
        border-radius: 5px;
        line-height: 40px;
        border: 0;
        outline: black;
        font-weight: bold;

        &:hover {
          background: #dadada;
          color: #000;
        }
    }
  }

  .rub {
    line-height: 6px;
    width: .4em;
    border-bottom: 1px solid #000;
    display: inline-block;
  }
}

