.wrapperApp {
  margin-top: 130px;
}

.products, .catalogs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

a {
  text-decoration: none;
  color: white;
  outline: none;

  &:hover {
    color: #dadada
  }
}