.Input {

  margin-bottom: 15px;

  label {
    margin-bottom: 3px;
    padding: 0;
    display: block;
    font-weight: bold;
    margin-right: 10px;
  }

  input {
    display: block;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #dadada;
    outline: none;
    transition: all 300ms ease-in-out;
    border-radius: 5px;
    font-size: 16px;
  }

  input:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
  }

  span {
    color: #ff4d4f;
    font-size: 14px;
  }
}
